In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras import regularizers

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

value_counts_application = application_df['APPLICATION_TYPE'].value_counts()

print(value_counts_application)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = value_counts_application[value_counts_application < 1000].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: count, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

value_counts_classification = application_df['CLASSIFICATION'].value_counts()

print(value_counts_classification)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

value_counts_classification[value_counts_classification > 1000]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced*
# use the variable name `classifications_to_replace`*
# The columns need to be reduced to minimize the number of columns generated after using getdummies to convert categorical data into Boolean data.
#  YOUR CODE GOES HERE

classifications_to_replace = value_counts_classification[value_counts_classification < 1800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`*
# Make sure to check datatype before using get_dummies
# The categorical columns that contain string values are: application, affiliation, classification, use_case, organization, special_considerations
#  YOUR CODE GOES HERE

numeric_data_df = pd.get_dummies(application_df, columns=['INCOME_AMT','APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'SPECIAL_CONSIDERATIONS'])

numeric_data_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,...,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,True,False
1,1,108590,1,False,True,False,False,False,False,False,...,False,False,True,False,False,True,False,False,True,False
2,1,5000,0,True,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,True,False
3,1,6692,1,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,True,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,True,True,False

In [12]:
# Split our preprocessed data into our features and target arrays*
# using the variable "numerical_data" with the boolean values for the categorical data
#  YOUR CODE GOES HERE

y = numeric_data_df["IS_SUCCESSFUL"]
X = numeric_data_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

neural_network_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

neural_network_model.add(tf.keras.layers.Dense(units=128, activation="relu", input_dim=40))

# Second hidden layer
#  YOUR CODE GOES HERE

neural_network_model.add(tf.keras.layers.Dense(units=64, activation="relu"))

# dropout for regularization
neural_network_model.add(tf.keras.layers.Dropout(0.5))

# Third hidden layer
neural_network_model.add(tf.keras.layers.Dense(units=32, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE

neural_network_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
neural_network_model.summary()

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_4 (Dense)                       (None, 128)                            5,248

 dense_5 (Dense)                       (None, 64)                             8,256

 dropout_1 (Dropout)                   (None, 64)                                 0

 dense_6 (Dense)                       (None, 32)                             2,080

 dense_7 (Dense)                       (None, 1)                                 33

 Total params: 15,617 (61.00 KB)

 Trainable params: 15,617 (61.00 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
# Compile the model
#  YOUR CODE GOES HERE

neural_network_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
#  YOUR CODE GOES HERE

fit_model = neural_network_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  4s 2ms/step - accuracy: 0.6910 - loss: 0.6046
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7232 - loss: 0.5755
Epoch 3/100
804/804  2s 2ms/step - accuracy: 0.7301 - loss: 0.5610
Epoch 4/100
804/804  3s 3ms/step - accuracy: 0.7294 - loss: 0.5644
Epoch 5/100
804/804  2s 3ms/step - accuracy: 0.7295 - loss: 0.5630
Epoch 6/100
804/804  2s 2ms/step - accuracy: 0.7282 - loss: 0.5600
Epoch 7/100
804/804  3s 2ms/step - accuracy: 0.7313 - loss: 0.5554
Epoch 8/100
804/804  3s 3ms/step - accuracy: 0.7342 - loss: 0.5526
Epoch 9/100
804/804  4s 4ms/step - accuracy: 0.7327 - loss: 0.5544
Epoch 10/100
804/804  6s 5ms/step - accuracy: 0.7360 - loss: 0.5485
Epoch 11/100
804/804  4s 4ms/step - accuracy: 0.7344 - loss: 0.5530
Epoch 12/100
804/804  6s 6ms/step - accuracy: 0.7277 - loss: 0.5589
Epoch 13/100
804/804  3s 3ms/step - accuracy: 0.7361 - loss: 0.5509
Epoch 14/100
804/804  2s 2ms/step - accuracy: 0.7258 - loss: 0.5585
Epoch 15/100
804/804  2s 2ms/step - accuracy: 0.7325 - loss: 0.5573
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.7296 - loss: 0.5542
Epoch 17/100
804/804  2s 2ms/step - accuracy: 0.7352 - loss: 0.5497
Epoch 18/100
804/804  2s 3ms/step - accuracy: 0.7323 - loss: 0.5564
Epoch 19/100
804/804  2s 3ms/step - accuracy: 0.7287 - loss: 0.5560
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.7335 - loss: 0.5523
Epoch 21/100
804/804  2s 2ms/step - accuracy: 0.7367 - loss: 0.5478
Epoch 22/100
804/804  2s 2ms/step - accuracy: 0.7354 - loss: 0.5516
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.7426 - loss: 0.5450
Epoch 24/100
804/804  2s 3ms/step - accuracy: 0.7340 - loss: 0.5522
Epoch 25/100
804/804  3s 3ms/step - accuracy: 0.7352 - loss: 0.5504
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.7405 - loss: 0.5457
Epoch 27/100
804/804  2s 2ms/step - accuracy: 0.7371 - loss: 0.5498
Epoch 28/100
804/804  3s 2ms/step - accuracy: 0.7373 - loss: 0.5454
Epoch 29/100
804/804  3s 2ms/step - accuracy: 0.7353 - loss: 0.5495
Epoch 30/100
804/804  4s 3ms/step - accuracy: 0.7394 - loss: 0.5428
Epoch 31/100
804/804  4s 2ms/step - accuracy: 0.7389 - loss: 0.5415
Epoch 32/100
804/804  3s 2ms/step - accuracy: 0.7290 - loss: 0.5539
Epoch 33/100
804/804  2s 2ms/step - accuracy: 0.7355 - loss: 0.5440
Epoch 34/100
804/804  3s 3ms/step - accuracy: 0.7422 - loss: 0.5444
Epoch 35/100
804/804  2s 3ms/step - accuracy: 0.7344 - loss: 0.5481
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.7403 - loss: 0.5436
Epoch 37/100
804/804  2s 2ms/step - accuracy: 0.7397 - loss: 0.5424
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.7329 - loss: 0.5523
Epoch 39/100
804/804  2s 2ms/step - accuracy: 0.7363 - loss: 0.5483
Epoch 40/100
804/804  2s 3ms/step - accuracy: 0.7377 - loss: 0.5471
Epoch 41/100
804/804  3s 3ms/step - accuracy: 0.7287 - loss: 0.5515
Epoch 42/100
804/804  2s 2ms/step - accuracy: 0.7414 - loss: 0.5407
Epoch 43/100
804/804  3s 2ms/step - accuracy: 0.7359 - loss: 0.5492
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.7357 - loss: 0.5481
Epoch 45/100
804/804  2s 2ms/step - accuracy: 0.7350 - loss: 0.5463
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.7355 - loss: 0.5480
Epoch 47/100
804/804  3s 3ms/step - accuracy: 0.7342 - loss: 0.5481
Epoch 48/100
804/804  2s 2ms/step - accuracy: 0.7358 - loss: 0.5429
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.7367 - loss: 0.5492
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.7380 - loss: 0.5447
Epoch 51/100
804/804  2s 2ms/step - accuracy: 0.7338 - loss: 0.5476
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.7328 - loss: 0.5505
Epoch 53/100
804/804  3s 3ms/step - accuracy: 0.7327 - loss: 0.5486
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.7387 - loss: 0.5440
Epoch 55/100
804/804  2s 2ms/step - accuracy: 0.7426 - loss: 0.5390
Epoch 56/100
804/804  3s 2ms/step - accuracy: 0.7356 - loss: 0.5469
Epoch 57/100
804/804  3s 2ms/step - accuracy: 0.7366 - loss: 0.5456
Epoch 58/100
804/804  4s 3ms/step - accuracy: 0.7394 - loss: 0.5448
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.7401 - loss: 0.5425
Epoch 60/100
804/804  2s 2ms/step - accuracy: 0.7340 - loss: 0.5470
Epoch 61/100
804/804  3s 2ms/step - accuracy: 0.7381 - loss: 0.5432
Epoch 62/100
804/804  2s 2ms/step - accuracy: 0.7399 - loss: 0.5441
Epoch 63/100
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5421
Epoch 64/100
804/804  3s 3ms/step - accuracy: 0.7311 - loss: 0.5512
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.7449 - loss: 0.5390
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5447
Epoch 67/100
804/804  3s 2ms/step - accuracy: 0.7302 - loss: 0.5516
Epoch 68/100
804/804  3s 2ms/step - accuracy: 0.7398 - loss: 0.5440
Epoch 69/100
804/804  2s 3ms/step - accuracy: 0.7306 - loss: 0.5502
Epoch 70/100
804/804  2s 3ms/step - accuracy: 0.7395 - loss: 0.5465
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.7362 - loss: 0.5441
Epoch 72/100
804/804  3s 2ms/step - accuracy: 0.7391 - loss: 0.5413
Epoch 73/100
804/804  3s 2ms/step - accuracy: 0.7353 - loss: 0.5450
Epoch 74/100
804/804  2s 2ms/step - accuracy: 0.7332 - loss: 0.5447
Epoch 75/100
804/804  4s 3ms/step - accuracy: 0.7363 - loss: 0.5447
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5414
Epoch 77/100
804/804  2s 2ms/step - accuracy: 0.7337 - loss: 0.5490
Epoch 78/100
804/804  3s 2ms/step - accuracy: 0.7401 - loss: 0.5431
Epoch 79/100
804/804  2s 2ms/step - accuracy: 0.7385 - loss: 0.5437
Epoch 80/100
804/804  3s 3ms/step - accuracy: 0.7362 - loss: 0.5435
Epoch 81/100
804/804  3s 3ms/step - accuracy: 0.7363 - loss: 0.5427
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.7333 - loss: 0.5486
Epoch 83/100
804/804  3s 2ms/step - accuracy: 0.7387 - loss: 0.5404
Epoch 84/100
804/804  3s 2ms/step - accuracy: 0.7371 - loss: 0.5433
Epoch 85/100
804/804  3s 2ms/step - accuracy: 0.7432 - loss: 0.5393
Epoch 86/100
804/804  3s 3ms/step - accuracy: 0.7360 - loss: 0.5456
Epoch 87/100
804/804  3s 3ms/step - accuracy: 0.7402 - loss: 0.5433
Epoch 88/100
804/804  4s 2ms/step - accuracy: 0.7427 - loss: 0.5356
Epoch 89/100
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5443
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.7447 - loss: 0.5371
Epoch 91/100
804/804  2s 2ms/step - accuracy: 0.7293 - loss: 0.5517
Epoch 92/100
804/804  3s 3ms/step - accuracy: 0.7361 - loss: 0.5455
Epoch 93/100
804/804  4s 2ms/step - accuracy: 0.7369 - loss: 0.5450
Epoch 94/100
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5430
Epoch 95/100
804/804  3s 2ms/step - accuracy: 0.7386 - loss: 0.5438
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.7393 - loss: 0.5417
Epoch 97/100
804/804  2s 3ms/step - accuracy: 0.7381 - loss: 0.5408
Epoch 98/100
804/804  3s 3ms/step - accuracy: 0.7378 - loss: 0.5437
Epoch 99/100
804/804  2s 2ms/step - accuracy: 0.7430 - loss: 0.5407
Epoch 100/100
804/804  4s 4ms/step - accuracy: 0.7360 - loss: 0.5455

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = neural_network_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7255 - loss: 0.5648
Loss: 0.5647674798965454, Accuracy: 0.7254810333251953

In [23]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

neural_network_model.save("AlphabetSoupCharity_Optimization_02.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.