In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from tensorflow.keras import regularizers

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(['EIN', 'NAME', 'STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

value_counts_application = application_df['APPLICATION_TYPE'].value_counts()

print(value_counts_application)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = value_counts_application[value_counts_application < 500].index

# Replace in dataframe
# the for loop iterates through all the T9s, T13s, T12s and everything below 500 and change to "Other"

for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
#  YOUR CODE GOES HERE

value_counts_classification = application_df['CLASSIFICATION'].value_counts()

print(value_counts_classification)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

value_counts_classification[value_counts_classification > 700]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Name: count, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced*
# use the variable name `classifications_to_replace`*
# The columns need to be reduced to minimize the number of columns generated after using getdummies to convert categorical data into Boolean data.
#  YOUR CODE GOES HERE

classifications_to_replace = value_counts_classification[value_counts_classification < 1800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`*
# Make sure to check datatype before using get_dummies
# The categorical columns that contain string values are: application, affiliation, classification, use_case, organization, special_considerations
#  YOUR CODE GOES HERE

numeric_data_df = pd.get_dummies(application_df, columns=['INCOME_AMT','APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION'])

numeric_data_df.head()

,ASK_AMT,IS_SUCCESSFUL,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,...,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust
0,5000,1,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
1,108590,1,False,True,False,False,False,False,False,False,...,False,False,False,False,True,False,False,True,False,False
2,5000,0,True,False,False,False,False,False,False,False,...,False,False,False,False,False,True,True,False,False,False
3,6692,1,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,True
4,142590,1,False,False,False,True,False,False,False,False,...,False,False,True,False,False,False,False,False,False,True

In [14]:
# Split our preprocessed data into our features and target arrays*
# using the variable "numerical_data" with the boolean values for the categorical data
#  YOUR CODE GOES HERE

y = numeric_data_df["IS_SUCCESSFUL"]
X = numeric_data_df.drop(columns="IS_SUCCESSFUL")

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

neural_network_model = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE

neural_network_model.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=40))

# Second hidden layer
#  YOUR CODE GOES HERE
neural_network_model.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
neural_network_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
neural_network_model.summary()

Model: "sequential_1"

 Layer (type)                          Output Shape                         Param #

 dense_3 (Dense)                       (None, 80)                             3,280

 dense_4 (Dense)                       (None, 30)                             2,430

 dense_5 (Dense)                       (None, 1)                                 31

 Total params: 5,741 (22.43 KB)

 Trainable params: 5,741 (22.43 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
# Compile the model
#  YOUR CODE GOES HERE

neural_network_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [21]:
# Train the model
#  YOUR CODE GOES HERE

fit_model = neural_network_model.fit(X_train_scaled, y_train, epochs=80)

Epoch 1/80
804/804  3s 2ms/step - accuracy: 0.7146 - loss: 0.5847
Epoch 2/80
804/804  1s 2ms/step - accuracy: 0.7325 - loss: 0.5538
Epoch 3/80
804/804  1s 2ms/step - accuracy: 0.7281 - loss: 0.5554
Epoch 4/80
804/804  1s 2ms/step - accuracy: 0.7311 - loss: 0.5516
Epoch 5/80
804/804  3s 2ms/step - accuracy: 0.7309 - loss: 0.5487
Epoch 6/80
804/804  3s 2ms/step - accuracy: 0.7337 - loss: 0.5492
Epoch 7/80
804/804  2s 3ms/step - accuracy: 0.7365 - loss: 0.5449
Epoch 8/80
804/804  2s 2ms/step - accuracy: 0.7351 - loss: 0.5454
Epoch 9/80
804/804  1s 2ms/step - accuracy: 0.7349 - loss: 0.5464
Epoch 10/80
804/804  1s 2ms/step - accuracy: 0.7351 - loss: 0.5465
Epoch 11/80
804/804  1s 2ms/step - accuracy: 0.7324 - loss: 0.5492
Epoch 12/80
804/804  3s 2ms/step - accuracy: 0.7388 - loss: 0.5431
Epoch 13/80
804/804  3s 2ms/step - accuracy: 0.7386 - loss: 0.5396
Epoch 14/80
804/804  2s 3ms/step - accuracy: 0.7365 - loss: 0.5433
Epoch 15/80
804/804  3s 3ms/step - accuracy: 0.7354 - loss: 0.5474
Epoch 16/80
804/804  2s 2ms/step - accuracy: 0.7363 - loss: 0.5436
Epoch 17/80
804/804  2s 2ms/step - accuracy: 0.7376 - loss: 0.5445
Epoch 18/80
804/804  1s 2ms/step - accuracy: 0.7397 - loss: 0.5445
Epoch 19/80
804/804  1s 2ms/step - accuracy: 0.7351 - loss: 0.5441
Epoch 20/80
804/804  3s 2ms/step - accuracy: 0.7417 - loss: 0.5395
Epoch 21/80
804/804  3s 3ms/step - accuracy: 0.7382 - loss: 0.5420
Epoch 22/80
804/804  2s 2ms/step - accuracy: 0.7359 - loss: 0.5403
Epoch 23/80
804/804  1s 2ms/step - accuracy: 0.7362 - loss: 0.5427
Epoch 24/80
804/804  2s 2ms/step - accuracy: 0.7451 - loss: 0.5334
Epoch 25/80
804/804  1s 2ms/step - accuracy: 0.7408 - loss: 0.5402
Epoch 26/80
804/804  1s 2ms/step - accuracy: 0.7409 - loss: 0.5395
Epoch 27/80
804/804  3s 2ms/step - accuracy: 0.7442 - loss: 0.5355
Epoch 28/80
804/804  3s 2ms/step - accuracy: 0.7395 - loss: 0.5391
Epoch 29/80
804/804  2s 2ms/step - accuracy: 0.7352 - loss: 0.5450
Epoch 30/80
804/804  1s 2ms/step - accuracy: 0.7331 - loss: 0.5444
Epoch 31/80
804/804  1s 2ms/step - accuracy: 0.7393 - loss: 0.5370
Epoch 32/80
804/804  3s 2ms/step - accuracy: 0.7393 - loss: 0.5421
Epoch 33/80
804/804  1s 2ms/step - accuracy: 0.7390 - loss: 0.5404
Epoch 34/80
804/804  3s 3ms/step - accuracy: 0.7380 - loss: 0.5413
Epoch 35/80
804/804  2s 2ms/step - accuracy: 0.7447 - loss: 0.5366
Epoch 36/80
804/804  2s 2ms/step - accuracy: 0.7456 - loss: 0.5351
Epoch 37/80
804/804  3s 2ms/step - accuracy: 0.7398 - loss: 0.5395
Epoch 38/80
804/804  1s 2ms/step - accuracy: 0.7380 - loss: 0.5424
Epoch 39/80
804/804  3s 2ms/step - accuracy: 0.7412 - loss: 0.5375
Epoch 40/80
804/804  2s 2ms/step - accuracy: 0.7378 - loss: 0.5412
Epoch 41/80
804/804  3s 2ms/step - accuracy: 0.7387 - loss: 0.5369
Epoch 42/80
804/804  1s 2ms/step - accuracy: 0.7389 - loss: 0.5399
Epoch 43/80
804/804  3s 2ms/step - accuracy: 0.7456 - loss: 0.5332
Epoch 44/80
804/804  1s 2ms/step - accuracy: 0.7428 - loss: 0.5350
Epoch 45/80
804/804  1s 2ms/step - accuracy: 0.7423 - loss: 0.5345
Epoch 46/80
804/804  1s 2ms/step - accuracy: 0.7405 - loss: 0.5388
Epoch 47/80
804/804  1s 2ms/step - accuracy: 0.7382 - loss: 0.5407
Epoch 48/80
804/804  2s 2ms/step - accuracy: 0.7413 - loss: 0.5348
Epoch 49/80
804/804  2s 2ms/step - accuracy: 0.7415 - loss: 0.5365
Epoch 50/80
804/804  1s 2ms/step - accuracy: 0.7370 - loss: 0.5377
Epoch 51/80
804/804  1s 2ms/step - accuracy: 0.7432 - loss: 0.5361
Epoch 52/80
804/804  1s 2ms/step - accuracy: 0.7376 - loss: 0.5357
Epoch 53/80
804/804  1s 2ms/step - accuracy: 0.7412 - loss: 0.5365
Epoch 54/80
804/804  3s 2ms/step - accuracy: 0.7394 - loss: 0.5373
Epoch 55/80
804/804  1s 2ms/step - accuracy: 0.7391 - loss: 0.5374
Epoch 56/80
804/804  3s 2ms/step - accuracy: 0.7352 - loss: 0.5438
Epoch 57/80
804/804  1s 2ms/step - accuracy: 0.7361 - loss: 0.5400
Epoch 58/80
804/804  3s 2ms/step - accuracy: 0.7404 - loss: 0.5357
Epoch 59/80
804/804  3s 2ms/step - accuracy: 0.7433 - loss: 0.5361
Epoch 60/80
804/804  3s 2ms/step - accuracy: 0.7389 - loss: 0.5396
Epoch 61/80
804/804  3s 3ms/step - accuracy: 0.7471 - loss: 0.5276
Epoch 62/80
804/804  2s 2ms/step - accuracy: 0.7419 - loss: 0.5360
Epoch 63/80
804/804  3s 2ms/step - accuracy: 0.7416 - loss: 0.5350
Epoch 64/80
804/804  2s 2ms/step - accuracy: 0.7411 - loss: 0.5370
Epoch 65/80
804/804  1s 2ms/step - accuracy: 0.7383 - loss: 0.5386
Epoch 66/80
804/804  3s 2ms/step - accuracy: 0.7407 - loss: 0.5346
Epoch 67/80
804/804  2s 2ms/step - accuracy: 0.7389 - loss: 0.5380
Epoch 68/80
804/804  2s 2ms/step - accuracy: 0.7364 - loss: 0.5396
Epoch 69/80
804/804  1s 2ms/step - accuracy: 0.7407 - loss: 0.5360
Epoch 70/80
804/804  3s 2ms/step - accuracy: 0.7375 - loss: 0.5402
Epoch 71/80
804/804  3s 2ms/step - accuracy: 0.7402 - loss: 0.5368
Epoch 72/80
804/804  3s 2ms/step - accuracy: 0.7395 - loss: 0.5338
Epoch 73/80
804/804  2s 3ms/step - accuracy: 0.7444 - loss: 0.5332
Epoch 74/80
804/804  2s 2ms/step - accuracy: 0.7430 - loss: 0.5307
Epoch 75/80
804/804  2s 2ms/step - accuracy: 0.7443 - loss: 0.5318
Epoch 76/80
804/804  3s 2ms/step - accuracy: 0.7402 - loss: 0.5364
Epoch 77/80
804/804  3s 2ms/step - accuracy: 0.7403 - loss: 0.5370
Epoch 78/80
804/804  1s 2ms/step - accuracy: 0.7435 - loss: 0.5314
Epoch 79/80
804/804  1s 2ms/step - accuracy: 0.7384 - loss: 0.5385
Epoch 80/80
804/804  3s 2ms/step - accuracy: 0.7466 - loss: 0.5303

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = neural_network_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 2ms/step - accuracy: 0.7251 - loss: 0.5584
Loss: 0.5583611130714417, Accuracy: 0.7251312136650085

In [23]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

neural_network_model.save("AlphabetSoupCharity_Optimization_03.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.